attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
datapungi-fed==0.3.1
decorator==4.4.2
html5lib==1.1
idna==2.10
iniconfig==1.1.1
ipykernel==5.4.3
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.18.0
joblib==1.0.0
jupyter-client==6.1.11
jupyter-core==4.7.0
lxml==4.6.2
numpy==1.19.5
packaging==20.8
pandas==1.2.0
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.10
ptyprocess==0.7.0
py==1.10.0
Pygments==2.7.4
pyparsing==2.4.7
pyperclip==1.8.1
pytest==6.2.1
pytest-html==3.1.1
pytest-metadata==1.11.0
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.3.1
pyzmq==21.0.1
requests==2.25.1
scikit-learn==0.24.0
scipy==1.6.0
six==1.15.0
sklearn==0.0
soupsieve==2.1
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
traitlets==5.0.5
urllib3==1.26.2
wcwidth==0.2.5
webencodings==0.5.1
xlrd==2.0.1
